ConsultaCineXml/src/main/java/xml/xmlData1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT __ROOT__ ANY>
<!ATTLIST __ROOT__ version CDATA #REQUIRED>
<!ELEMENT peliculas (pelicula*)>
<!ELEMENT pelicula (titulo, director, actor)>
<!ATTLIST pelicula id CDATA #REQUIRED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT director (#PCDATA)>
<!ELEMENT actor (#PCDATA)>
